registry "https://registry.npm.taobao.org"
operadriver_cdnurl "http://npm.taobao.org/mirrors/operadriver"
chromedriver_cdnurl "http://npm.taobao.org/mirrors/chromedriver"
phantomjs_cdnurl "http://npm.taobao.org/mirror"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass"
SENTRYCLI_CDNURL "https://npm.taobao.org/mirrors/sentry-cli"
SQLITE3_BINARY_SITE "http://npm.taobao.org/mirrors/sqlite3"
profiler_binary_host_mirror "https://npm.taobao.org/mirrors/node-inspector/"
